.highlight {
  border-radius: 0.4rem;
  color: white;
  padding: 0.3rem;
  margin-bottom: 0.8rem;
}
.bold {
  padding-left: 1rem;
  font-weight: 700;
}
.blue {
  background-color: lightblue;
}
.red {
  background-color: lightcoral;
}

.main > div {
    padding-top: 0rem;
    
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 5rem;
}

